body {
  background-color: rgba(0, 129, 138, 0.459);
  width: 100%;
}

.listItem-class {
list-style-type: none;
display: inline;
}

#search-pokemon:hover {
transform: scale(1.05);
transition: transform 0.3s;
}

.navbar {
margin-left: 10px;
margin-right: 10px;
}

.page-container {
margin-top: 51px;
margin-left: 10px;
}

.listcontainer {
display: table;
margin: auto 20px;
}

.pokemon-list {
padding: 0;
}

.pokemon-image {
transition: transform 0.3s;
}

.pokemon-image:hover {
transform: scale(1.2);
}

/*Class for pokemon buttons */
.btn {
  background-color: #274dcc;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: rgb(24, 128, 160);
  color: white;
  border: 2px solid #000000;
  border-radius: 6px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s;
}

.button-class:hover {
    cursor: pointer;
    opacity: 0.7;
}

.pokemon-list {
    display: flexbox;
    list-style-type: none;    
}

.modal-content {
  text-align: center;
}

.modal-body {
  text-transform: capitalize;
  margin: 10px;
}